/* Estilos generales para todos los dispositivos */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: red;
  text-align: center;
}

.pokedex-image {
  max-width: 100%;
  height: auto;
}

.welcome-message {
  margin-bottom: 5px;
  color: black;
  font-size: 1.5em;
}

.google-sign-in {
  width: 200px;
  height: 200px;
  padding: 0;
  line-height: 20px;
  font-size: 1em;
  background-color: green;
  color: rgb(3, 3, 3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  animation: blink-animation 1s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Definición de la animación para el botón */
@keyframes blink-animation {
  0%, 100% { background-color: green; }
  10% { background-color: darkgreen; }
}

/* Estilos para dispositivos medianos (por ejemplo, tablets) */
@media (max-width: 768px) {
  .pokedex-image {
    max-width: 80%;
  }

  .welcome-message {
    font-size: 20px;
  }

  .google-sign-in {
    font-size: 16px;
  }
}

/* Estilos para dispositivos pequeños (por ejemplo, teléfonos móviles) */
@media (max-width: 480px) {
  .pokedex-image {
    max-width: 60%;
  }

  .welcome-message {
    font-size: 18px;
  }

  .google-sign-in {
    font-size: 14px;
    width: 150px;
    height: 150px;
  }
}

  
